* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 70px;
    font-family: cursive;
    text-shadow: 12px 8px #dba6a6;
    text-align: center;
    -webkit-text-stroke: 2px #000;
}

.box {
    background-color: #f87575;
    color: black;
    width: 18vmin;
    height: 18vmin;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 15vmin;
}

.box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.8;
}

.game {
    background-color: #313741;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10%;
    gap: 3rem;
}

.new-game {
    margin-bottom: 160px;
    padding: 5px 15px;
    border: 4px solid #36cb86;
    border-radius: 5rem;
    transition: ease-in-out 0.3s;
    background-color: #3b3838;
    color: #ffffff;
    font-family: cursive;
    font-weight: 900;
    font-size: 29px;
    -webkit-text-stroke: 2px #000;
}

.new-game:hover {
    transform: scale(1.2);
    background-color: #1bc9b2;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px #ffffff;
}

.reset,
.home {
    height: 60px;
    width: 150px;
    background-color: transparent;
    border: 2px solid beige;
    font-weight: 500;
    border-radius: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
}


.reset svg,
.home svg {
    display: inline;
    margin-right: 10px;
    color: white;
}

.reset:hover,
.home:hover {
    border: 2px solid rgb(7, 7, 7);
    color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7) url("/Tic-Tac-Toe-Game/seamless-texture-with-tic-tac-toe-vector_Xyx2l8_SB_PM.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

h2 {
    font-size: xxx-large;
    font-family: cursive;
    -webkit-text-stroke: 1px #fff;
}

.result {
    height: 100px
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scoreboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid beige;
    font-size: 35px;
    margin: 5% 0;
    font-family: cursive;
}

.resethomebtn{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

body {
    height: 100%;
    overflow-y: hidden;
}

.rwd-table {
    font-family: cursive;
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
}

.rwd-table td,
.rwd-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.rwd-table tr{background-color: #ddd;
text-align: center;}

.rwd-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

@media only screen and (max-width: 850px){
    .container{
        flex-direction: column-reverse;
        width: 100vw;
    }

    .new-game{
        font-size: 40px;
        -webkit-text-stroke: 1px #ffffff;
    }
}

@media only screen and (max-width: 450px){
    h2 {
        margin-top: 10%;
        font-size: xx-large;
    }

    .scoreboard{
        margin: 10% 0;
    }
    .new-game{
        font-size: 40px;
        -webkit-text-stroke: 1px #ffffff;
    }
}